h1 {
    color: #302f2f;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    margin: 0;
    padding: 0;
    list-style: none;
    
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
}
li::first-letter {
    text-transform: capitalize;
}
.weather-app-wrap {
    max-width: 600px;
    margin: 50px auto;
}
.weather-app {
   
    padding: 30px;
    border: 1px solid #17033d;
    border-radius: 5px;
}
.overview {
    margin-bottom: 20px;
}
.weather-temperature img {
    margin-right: 5px;
    height: 64px;
    width: 64px;
}
.weather-temperature strong {
    color: blue;
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
}
.weather-temperature .units {
    font-weight: 400;
    
}
.weather-temperature .active {
    color: black;
    cursor: default;
}

.weather-temperature .celsius-unit {
    text-decoration: none;
}
.weather-temperature .fahrenheit-unit {
    text-decoration: none;
}